<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org// DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>
    <typeAliases>
        <package name="cn.leegq.study.model"></package>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
                <property name="" value=""></property>
            </transactionManager>
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis"/>
                <property name="username" value="root"/>
                <property name="password" value="11111"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!--<package name="cn.leegq.study.mapper"/>-->
        <mapper resource="cn/leegq/study/mapper/CountryMapper.xml"></mapper>
        <mapper resource="cn/leegq/study/mapper/UserMapper.xml"></mapper>
        <mapper resource="cn/leegq/study/mapper/RoleMapper.xml"></mapper>
        <mapper resource="cn/leegq/study/mapper/PrivilegeMapper.xml"></mapper>
        <mapper resource="cn/leegq/study/mapper/UserRoleMapper.xml"></mapper>
        <mapper resource="cn/leegq/study/mapper/RolePrivilegeMapper.xml"></mapper>
    </mappers>
</configuration>